<div class="container">

<!-- Toolbar on the top of the screen -->
<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="snav.toggle()"
    >
    <!--
    *ngIf="isHandset$ | async"
    -->
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  
  <span class="app-name">Words</span>
 
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  
  <!-- Right Aligned Text -->
  <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav 
    class="sidenav" 
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    >
      <!-- TODO: Responsive part
      [opened]="(isHandset$ | async) === false"
      -->
    
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Play</a>
      <a mat-list-item routerLink="/words">Manage words</a>
      <a mat-list-item routerLink="/signin">Sign in</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

</div>
