<div *ngIf="word">

    <h2>{{word.name | uppercase}} Details</h2>
    <div><span>id: </span>{{word.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="word.name" placeholder="name" />
        </label>
    </div>
    <div>
        <label>image_URL:
            <input [(ngModel)]="word.imageurl" placeholder="url" />
        </label>
    </div>
    <div>
        <p>image:</p>
        <img src="../../assets/images/{{word.imageurl}}" alt="{{word.imageurl}}">
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>

</div>

